node_modules
.vscode
.git
.gitattributes
.eslintignore
.eslintrc.cjs
.prettierrc
.pretieriignore
README.md
nginx.conf
Dockerfile
.dockerignore
.DS_Store
.svelte-kit
ganache
scripts
.env
.env.*
!.env.example
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*