@font-face {
  font-family: 'SangSangRockRegular';
  src: url('/fonts/SangSangRockRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'BMYEONSUNG';
  src: url('/fonts/BMYEONSUNG.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}
